public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.PostChain passes
public net.minecraft.client.renderer.GameRenderer getFov(Lnet/minecraft/client/Camera;FZ)D
public net.minecraft.client.gui.Font$StringRenderOutput
public net.minecraft.client.renderer.LightTexture lightTexture
public net.minecraft.client.particle.ParticleEngine spriteSets
public net.minecraft.client.gui.GuiGraphics sprites
public net.minecraft.sounds.SoundEvent <init>(Lnet/minecraft/resources/ResourceLocation;FZ)V
public net.minecraft.client.resources.sounds.AbstractSoundInstance volume
public net.minecraft.client.resources.sounds.AbstractSoundInstance pitch
public net.minecraft.client.particle.SingleQuadParticle renderVertex(Lcom/mojang/blaze3d/vertex/VertexConsumer;Lorg/joml/Quaternionf;FFFFFFFFI)V
public net.minecraft.client.gui.Font getFontSet(Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/client/gui/font/FontSet;
public net.minecraft.client.gui.Font filterFishyGlyphs
public net.minecraft.client.renderer.FogRenderer biomeChangedTime

# temporary, TODO: remove
#public net.minecraft.client.renderer.ShaderInstance samplerNames
#public net.minecraft.client.renderer.RenderType$CompositeState shaderState
#public net.minecraft.client.renderer.RenderType$CompositeState textureState
#public net.minecraft.client.renderer.RenderType$CompositeState transparencyState
#public net.minecraft.client.renderer.RenderType$CompositeState depthTestState
#public net.minecraft.client.renderer.RenderType$CompositeState cullState
#public net.minecraft.client.renderer.RenderType$CompositeState lightmapState
#public net.minecraft.client.renderer.RenderType$CompositeState overlayState
#public net.minecraft.client.renderer.RenderType$CompositeState writeMaskState